{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Eigen Explorer",
    "description": "Api reference for the Eigen Explorer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockflow.network/rest/fec9c10b-69e4-4d1b-aee0-38ecdaac9e99"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/history-by-operator": {
      "get": {
        "operationId": "historyByOperator",
        "summary": "Retrieve Operator Activity History",
        "description": "Retrive if operator is registered, joined, or left AVS",
        "tags": ["Operators"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operatorAddress": {
                    "type": "string",
                    "description": "The operator's address",
                    "example": "0x1234567890abcdef1234567890abcdef12345678"
                  },
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of operator activity history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "operatorAddress": {
                                "type": "string",
                                "description": "The operator's address",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "avsAddress": {
                                "type": "string",
                                "description": "The AVS's address",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "event": {
                                "type": "string",
                                "description": "The event type",
                                "example": "registered"
                              },
                              "transactionHash": {
                                "type": "string",
                                "description": "The transaction hash",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "createdAt": {
                                "type": "number",
                                "description": "The timestamp of the event",
                                "example": 1620000000
                              },
                              "createdAtBlock": {
                                "type": "number",
                                "description": "The block number of the event",
                                "example": 12345678
                              }
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "Total number of records in the database",
                              "example": 30
                            },
                            "page": {
                              "type": "number",
                              "description": "The page number of the current query",
                              "example": 1
                            },
                            "limit": {
                              "type": "number",
                              "description": "The number of records returned for this query",
                              "example": 12
                            }
                          },
                          "required": ["total", "page", "limit"]
                        }
                      },
                      "required": ["data", "meta"]
                    }
                  },
                  "required": ["status", "body"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/restake-history-by-operator": {
      "get": {
        "operationId": "restakeHistoryByOperator",
        "summary": "Retrieve Restake History by Operator",
        "description": "Retrive restake history by operator",
        "tags": ["Operators"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operatorAddress": {
                    "type": "string",
                    "description": "The operator's address",
                    "example": "0x1234567890abcdef1234567890abcdef12345678"
                  },
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of restake history by operator.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "operatorAddress": {
                                "type": "string",
                                "description": "The operator's address",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "stakerAddress": {
                                "type": "string",
                                "description": "The Stakers's address",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "action": {
                                "type": "string",
                                "description": "The event type",
                                "example": "delegated"
                              },
                              "shares": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "strategy": {
                                      "type": "string",
                                      "description": "The strategy",
                                      "example": "0x1234567890abcdef1234567890abcdef12345678"
                                    },
                                    "shares": {
                                      "type": "string",
                                      "description": "The shares",
                                      "example": "100"
                                    }
                                  }
                                }
                              },
                              "transactionHash": {
                                "type": "string",
                                "description": "The transaction hash",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "createdAt": {
                                "type": "number",
                                "description": "The timestamp of the event",
                                "example": 1620000000
                              },
                              "createdAtBlock": {
                                "type": "number",
                                "description": "The block number of the event",
                                "example": 12345678
                              }
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "Total number of records in the database",
                              "example": 30
                            },
                            "page": {
                              "type": "number",
                              "description": "The page number of the current query",
                              "example": 1
                            },
                            "limit": {
                              "type": "number",
                              "description": "The number of records returned for this query",
                              "example": 12
                            }
                          },
                          "required": ["total", "page", "limit"]
                        }
                      }
                    }
                  },
                  "required": ["status", "body"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenda-operator-by-address": {
      "get": {
        "operationId": "getBatchDetails",
        "summary": "Retrieve Operator Batch Details",
        "description": "Returns operator details including socket, batches details",
        "tags": ["Eigenda"],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Operator address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonSignings",
            "in": "query",
            "description": "Include non-signing batches",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of operator details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "eigenda": {
                          "type": "object",
                          "properties": {
                            "socket": {
                              "type": "string",
                              "description": "The operator's socket address",
                              "example": "3.210.140.189:32005;32004"
                            },
                            "address": {
                              "type": "string",
                              "description": "The operator's address",
                              "example": "0x1234567890abcdef1234567890abcdef12345678"
                            },
                            "operatorId": {
                              "type": "string",
                              "description": "The operator's ID",
                              "example": "0x1234567890abcdef1234567890abcdef12345678"
                            },
                            "status": {
                              "type": "string",
                              "description": "The operator's status",
                              "example": "active"
                            },
                            "entries": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "batchId": {
                                    "type": "number",
                                    "description": "The batch's ID",
                                    "example": "7074"
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "description": "The batch's status",
                                    "example": "1715712851"
                                  }
                                }
                              }
                            },
                            "exits": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "batchId": {
                                    "type": "number",
                                    "description": "The batch's ID",
                                    "example": "7074"
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "description": "The batch's status",
                                    "example": "1715712851"
                                  }
                                }
                              }
                            },
                            "latestBatchId": {
                              "type": "number",
                              "description": "The latest batch's ID",
                              "example": "7074"
                            },
                            "skipRate": {
                              "type": "string",
                              "description": "The operator's skip rate",
                              "example": "0.1"
                            },
                            "successRate": {
                              "type": "string",
                              "description": "The operator's success rate",
                              "example": "0.9"
                            },
                            "skippedBatchesCount": {
                              "type": "number",
                              "description": "The operator's skipped batches count",
                              "example": 10
                            },
                            "totalActiveBatchesCount": {
                              "type": "string",
                              "description": "The operator's total active batches count",
                              "example": "10"
                            },
                            "totalProcessedBatches": {
                              "type": "string",
                              "description": "The operator's total processed batches",
                              "example": "10"
                            },
                            "skippedBatches": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "The operator's skipped batches"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "getAllMetrics",
        "summary": "Retrieve summary metrics",
        "description": "Returns summary metrics, including TVLs for both restaking strategies and the Beacon Chain ETH strategy, as well as the total number of AVS, operators, and stakers.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The list of summary metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "tvlBeaconChain": {
                              "type": "number",
                              "description": "The total value locked (TVL) in ETH in the beacon chain ETH strategy",
                              "example": 1000000
                            },

                            "tvlStrategies": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number",
                                "description": "The total value locked (TVL) in the strategy, denominated in the strategy's native token",
                                "example": 1000000
                              },
                              "description": "The total value locked (TVL) in each restaking strategy, denominated in the strategy's native token",
                              "example": {
                                "cbETH": 1000000,
                                "stETH": 2000000
                              }
                            },

                            "totalAVS": {
                              "type": "number",
                              "description": "The total number of AVS",
                              "example": 10
                            },
                            "totalOperators": {
                              "type": "number",
                              "description": "The total number of AVS operators",
                              "example": 10
                            },
                            "totalStakers": {
                              "type": "number",
                              "description": "The total number of AVS stakers",
                              "example": 10
                            }
                          },
                          "required": [
                            "tvlBeaconChain",
                            "tvlStrategies",
                            "totalAVS",
                            "totalOperators",
                            "totalStakers"
                          ]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/metrics-tvl": {
      "get": {
        "operationId": "getTvlMetrics",
        "summary": "Retrieve total TVL",
        "description": "Returns the total value locked (TVL) in all restaking strategies and Beacon Chain restaking.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The value of the combined TVL in ETH.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "tvlBeaconChain": {
                              "type": "number",
                              "description": "The total value locked (TVL) in ETH in the beacon chain ETH strategy",
                              "example": 1000000
                            },

                            "tvlStrategies": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number",
                                "description": "The total value locked (TVL) in the strategy, denominated in the strategy's native token",
                                "example": 1000000
                              },
                              "description": "The total value locked (TVL) in each restaking strategy, denominated in the strategy's native token",
                              "example": {
                                "cbETH": 1000000,
                                "stETH": 2000000
                              }
                            }
                          },
                          "required": ["tvlBeaconChain", "tvlStrategies"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/metrics-tvl-strategy": {
      "get": {
        "operationId": "getTvlRestakingMetricByStrategy",
        "summary": "Retrieve a strategy TVL by name",
        "description": "Returns the total value locked (TVL) in a specific LST strategy.",
        "tags": ["Metrics"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "strategyName": {
                    "type": "string",
                    "description": "The name of the restaking strategy",
                    "example": "cbETH"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The value of combined restaking strategy TVL and a breakdown of the TVL for each individual strategy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "tvl": {
                              "type": "number",
                              "description": "The value of the restaking strategy TVL, denominated in the strategy's native token",
                              "example": 1000000
                            }
                          },
                          "required": ["tvl"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/total-avs": {
      "get": {
        "operationId": "getTotalAvsMetric",
        "summary": "Retrieve total number of AVS",
        "description": "Returns the total number of AVS registered.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The total number of AVS registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "The total number of AVS registered",
                              "example": 1000000
                            }
                          },
                          "required": ["total"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/total-operators": {
      "get": {
        "operationId": "getTotalOperatorsMetric",
        "summary": "Retrieve total number of AVS operators",
        "description": "Returns the total number of AVS operators registered.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The total number of AVS operators registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "The total number of AVS operators registered",
                              "example": 1000000
                            }
                          },
                          "required": ["total"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/total-stakers": {
      "get": {
        "operationId": "getTotalStakerssMetric",
        "summary": "Retrieve total number of AVS stakers",
        "description": "Returns the total number of AVS stakers registered.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The total number of AVS stakers registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "The total number of AVS stakers registered",
                              "example": 1000000
                            }
                          },
                          "required": ["total"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/total-withdrawals": {
      "get": {
        "operationId": "getTotalWithdrawals",
        "summary": "Retrieve total number of withdrawals ",
        "description": "Returns the total number of withdrawals.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The total number of withdrawals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "The total number of withdrawals",
                              "example": 1000000
                            },
                            "pending": {
                              "type": "number",
                              "description": "The  pending number of withdrawals",
                              "example": 1000000
                            },
                            "completed": {
                              "type": "number",
                              "description": "The completed number of withdrawals",
                              "example": 1000000
                            }
                          },
                          "required": ["total", "pending", "completed"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/total-deposits": {
      "get": {
        "operationId": "getTotalDeposits",
        "summary": "Retrieve total number of deposits",
        "description": "Returns the total number of deposits.",
        "tags": ["Metrics"],
        "responses": {
          "200": {
            "description": "The total number of deposits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "The total number of deposits",
                              "example": 1000000
                            }
                          },
                          "required": ["total"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/stakers": {
      "get": {
        "operationId": "getAllStakers",
        "summary": "Retrieve all stakers",
        "description": "Returns all staker records. This endpoint supports pagination.",
        "tags": ["Stakers"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "withTvl": {
                    "type": "string",
                    "enum": ["true", "false"],
                    "default": "false",
                    "description": "Toggle whether the route should calculate the TVL from shares",
                    "example": "false"
                  },
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of staker records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "description": "The contract address of the staker",
                                    "example": "0x0000006c21964af0d420af8992851a30fa13a68b"
                                  },
                                  "operatorAddress": {
                                    "type": "string",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "description": "The address of the operator",
                                    "example": "0x71c6f7ed8c2d4925d0baf16f6a85bb1736d412eb"
                                  },
                                  "createdAtBlock": {
                                    "type": "number",
                                    "description": "The block number at which the Staker made first delegation",
                                    "example": 19631203
                                  },
                                  "updatedAtBlock": {
                                    "type": "number",
                                    "description": "The block number at which the Staker made last delegation",
                                    "example": 19631203
                                  },
                                  "createdAt": {
                                    "type": "number",
                                    "description": "The time stamp at which the Staker made first delegation",
                                    "example": 1734634743
                                  },
                                  "updatedAt": {
                                    "type": "number",
                                    "description": "The time stamp at which the Staker made last delegation",
                                    "example": 1734634743
                                  },
                                  "shares": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "strategyAddress": {
                                          "type": "string",
                                          "pattern": "^0x[a-fA-F0-9]{40}$",
                                          "description": "The contract address of the restaking strategy",
                                          "example": "0x93c4b944d05dfe6df7645a86cd2206016c51564a"
                                        },
                                        "shares": {
                                          "type": "string",
                                          "description": "The amount of shares held in the strategy",
                                          "example": "40888428658906049"
                                        }
                                      },
                                      "required": ["strategyAddress", "shares"]
                                    }
                                  },
                                  "tvl": {
                                    "type": "object",
                                    "properties": {
                                      "tvlBeaconChain": {
                                        "type": "number",
                                        "description": "The TVL of Beacon Chain restaking strategy in ETH",
                                        "example": 1000000
                                      },
                                      "tvlWETH": {
                                        "type": "number",
                                        "description": "The TVL of WETH restaking strategy in ETH",
                                        "example": 1000000
                                      },
                                      "tvlStrategies": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "number",
                                          "description": "The total value locked (TVL) in the strategy, denominated in the strategy's native token",
                                          "example": 1000000
                                        },
                                        "description": "The TVL of each individual restaking strategy in its native token",
                                        "example": {
                                          "Eigen": 1000000,
                                          "cbETH": 2000000
                                        }
                                      }
                                    },
                                    "required": [
                                      "tvlBeaconChain",
                                      "tvlWETH",
                                      "tvlStrategies"
                                    ],
                                    "description": "The total value locked (TVL) in the AVS",
                                    "example": {
                                      "tvlBeaconChain": 1000000,
                                      "tvlWETH": 1000000,
                                      "tvlStrategies": {
                                        "Eigen": 1000000,
                                        "cbETH": 2000000
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "address",
                                  "operatorAddress",
                                  "createdAtBlock",
                                  "updatedAtBlock",
                                  "createdAt",
                                  "updatedAt",
                                  "shares"
                                ]
                              }
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records in the database",
                                  "example": 30
                                },
                                "page": {
                                  "type": "number",
                                  "description": "The page number of the current query",
                                  "example": 1
                                },
                                "limit": {
                                  "type": "number",
                                  "description": "The number of records returned for this query",
                                  "example": 12
                                }
                              },
                              "required": ["total", "page", "limit"]
                            }
                          },
                          "required": ["data", "meta"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/staker-by-address": {
      "get": {
        "operationId": "getStakerByAddress",
        "summary": "Retrieve a staker by address",
        "description": "Returns a staker record by address.",
        "tags": ["Stakers"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "The address of the staker",
                    "example": "0x9791fdb4e9c0495efc5a1f3f9271ef226251eb34"
                  },
                  "withTvl": {
                    "type": "string",
                    "enum": ["true", "false"],
                    "default": "false",
                    "description": "Toggle whether the route should calculate the TVL from shares",
                    "example": "false"
                  }
                },
                "required": ["address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The record of the requested operator.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "pattern": "^0x[a-fA-F0-9]{40}$",
                              "description": "The contract address of the staker",
                              "example": "0x0000006c21964af0d420af8992851a30fa13a68b"
                            },
                            "operatorAddress": {
                              "type": "string",
                              "pattern": "^0x[a-fA-F0-9]{40}$",
                              "description": "The address of the operator",
                              "example": "0x71c6f7ed8c2d4925d0baf16f6a85bb1736d412eb"
                            },
                            "createdAtBlock": {
                              "type": "number",
                              "description": "The block number at which the Staker made first delegation",
                              "example": 19631203
                            },
                            "updatedAtBlock": {
                              "type": "number",
                              "description": "The block number at which the Staker made last delegation",
                              "example": 19631203
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The time stamp at which the Staker made first delegation",
                              "example": 1768348371
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The time stamp at which the Staker made last delegation",
                              "example": 1768348371
                            },
                            "shares": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "strategyAddress": {
                                    "type": "string",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "description": "The contract address of the restaking strategy",
                                    "example": "0x93c4b944d05dfe6df7645a86cd2206016c51564a"
                                  },
                                  "shares": {
                                    "type": "string",
                                    "description": "The amount of shares held in the strategy",
                                    "example": "40888428658906049"
                                  }
                                },
                                "required": ["strategyAddress", "shares"]
                              }
                            },
                            "tvl": {
                              "type": "object",
                              "properties": {
                                "tvlBeaconChain": {
                                  "type": "number",
                                  "description": "The TVL of Beacon Chain restaking strategy in ETH",
                                  "example": 1000000
                                },
                                "tvlWETH": {
                                  "type": "number",
                                  "description": "The TVL of WETH restaking strategy in ETH",
                                  "example": 1000000
                                },
                                "tvlStrategies": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "number",
                                    "description": "The total value locked (TVL) in the strategy, denominated in the strategy's native token",
                                    "example": 1000000
                                  },
                                  "description": "The TVL of each individual restaking strategy in its native token",
                                  "example": {
                                    "Eigen": 1000000,
                                    "cbETH": 2000000
                                  }
                                }
                              },
                              "required": [
                                "tvlBeaconChain",
                                "tvlWETH",
                                "tvlStrategies"
                              ],
                              "description": "The total value locked (TVL) in the AVS",
                              "example": {
                                "tvlBeaconChain": 1000000,
                                "tvlWETH": 1000000,
                                "tvlStrategies": {
                                  "Eigen": 1000000,
                                  "cbETH": 2000000
                                }
                              }
                            }
                          },
                          "required": [
                            "address",
                            "operatorAddress",
                            "createdAtBlock",
                            "updatedAtBlock",
                            "createdAt",
                            "updatedAt",
                            "shares"
                          ]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/withdrawals-by-staker": {
      "get": {
        "operationId": "getStakerWithdrawals",
        "summary": "Retrieve all withdrawals by staker address",
        "description": "Returns all withdrawal data of the requested staker, including the withdrawal root, nonce, withdrawal status, and other relevant information.",
        "tags": ["Stakers"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "The contract address of the staker",
                    "example": "0x0000006c21964af0d420af8992851a30fa13a68b"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status of the withdrawal",
                    "example": "completed",
                    "enum": ["queued", "completed"]
                  },
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                },
                "required": ["address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of withdrawals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "withdrawalRoot": {
                                    "type": "string",
                                    "description": "The root hash of the withdrawal",
                                    "example": "0x9e6728ef0a8ad6009107a886047aae35bc5ed7deaa68580b0d1f8f67e3e5ed31"
                                  },
                                  "nonce": {
                                    "type": "number",
                                    "description": "The nonce of the withdrawal",
                                    "example": 0
                                  },
                                  "stakerAddress": {
                                    "type": "string",
                                    "description": "The address of the staker",
                                    "example": "0x74ede5f75247fbdb9266d2b3a7be63b3db7611dd"
                                  },
                                  "delegatedTo": {
                                    "type": "string",
                                    "description": "The operator address to which staking is delegated",
                                    "example": "0x0000000000000000000000000000000000000000"
                                  },
                                  "withdrawerAddress": {
                                    "type": "string",
                                    "description": "The address of the withdrawer",
                                    "example": "0x74ede5f75247fbdb9266d2b3a7be63b3db7611dd"
                                  },
                                  "shares": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "strategyAddress": {
                                          "type": "string",
                                          "pattern": "^0x[a-fA-F0-9]{40}$",
                                          "description": "The contract address of the restaking strategy",
                                          "example": "0xbeac0eeeeeeeeeeeeeeeeeeeeeeeeeeeeeebeac0"
                                        },
                                        "shares": {
                                          "type": "string",
                                          "description": "The amount of shares held in the strategy",
                                          "example": "1277920000000000000000000"
                                        }
                                      },
                                      "required": ["strategyAddress", "shares"]
                                    },
                                    "description": "The list of strategy shares",
                                    "example": [
                                      {
                                        "strategyAddress": "0x93c4b944d05dfe6df7645a86cd2206016c51564d",
                                        "shares": "1000288824523326631"
                                      }
                                    ]
                                  },
                                  "createdAtBlock": {
                                    "type": "number",
                                    "description": "The block number when the withdrawal was recorded by EigenExplorer",
                                    "example": 19912470
                                  },
                                  "createdAt": {
                                    "type": "number",
                                    "description": "The time stamp when the withdrawal was recorded by EigenExplorer",
                                    "example": 1746854400
                                  },
                                  "updatedAtBlock": {
                                    "type": "number",
                                    "description": "The block number when the withdrawal was last updated",
                                    "example": 19912470
                                  },
                                  "updatedAt": {
                                    "type": "number",
                                    "description": "The time stamp when the withdrawal was last updated",
                                    "example": 1746854400
                                  },
                                  "isCompleted": {
                                    "type": "boolean",
                                    "description": "Indicates if the withdrawal is completed",
                                    "example": false
                                  }
                                },
                                "required": [
                                  "withdrawalRoot",
                                  "nonce",
                                  "stakerAddress",
                                  "delegatedTo",
                                  "withdrawerAddress",
                                  "shares",
                                  "createdAtBlock",
                                  "createdAt",
                                  "updatedAtBlock",
                                  "updatedAt",
                                  "isCompleted"
                                ]
                              }
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records in the database",
                                  "example": 30
                                },
                                "page": {
                                  "type": "number",
                                  "description": "The page number of the current query",
                                  "example": 1
                                },
                                "limit": {
                                  "type": "number",
                                  "description": "The number of records returned for this query",
                                  "example": 12
                                }
                              },
                              "required": ["total", "page", "limit"]
                            }
                          },
                          "required": ["data", "meta"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/deposits-by-staker": {
      "get": {
        "operationId": "getStakerDeposits",
        "summary": "Retrieve all deposits by staker address",
        "description": "Returns all deposit data of the requested staker, including the transaction hash, token address, strategy address, shares and other relevant information.",
        "tags": ["Stakers"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "The contract address of the staker",
                    "example": "0x0000006c21964af0d420af8992851a30fa13a68b"
                  },
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                },
                "required": ["address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of deposits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "transactionHash": {
                                    "type": "string",
                                    "description": "The hash of the transaction",
                                    "example": "0x9d0a355df5a937516dfaed6721b0b461a16b8fad005f66d7dbf56b8a39136297"
                                  },
                                  "stakerAddress": {
                                    "type": "string",
                                    "description": "The address of the staker",
                                    "example": "0x74ede5f75247fbdb9266d2b3a7be63b3db7611dd"
                                  },
                                  "tokenAddress": {
                                    "type": "string",
                                    "description": "The address of the token",
                                    "example": "0xe95a203b1a91a908f9b9ce46459d101078c2c3cb"
                                  },
                                  "strategyAddress": {
                                    "type": "string",
                                    "description": "The contract address of the restaking strategy",
                                    "example": "0x0fe4f44bee93503346a3ac9ee5a26b130a5796d6"
                                  },
                                  "shares": {
                                    "type": "string",
                                    "description": "The amount of shares held in the strategy",
                                    "example": "40888428658906049"
                                  },
                                  "createdAtBlock": {
                                    "type": "number",
                                    "description": "The block number when the withdrawal was recorded by EigenExplorer",
                                    "example": 19912470
                                  },
                                  "createdAt": {
                                    "type": "number",
                                    "description": "The time stamp when the withdrawal was recorded by EigenExplorer",
                                    "example": 1746854400
                                  }
                                },
                                "required": [
                                  "transactionHash",
                                  "stakerAddress",
                                  "tokenAddress",
                                  "strategyAddress",
                                  "shares",
                                  "createdAtBlock",
                                  "createdAt"
                                ]
                              }
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records in the database",
                                  "example": 30
                                },
                                "page": {
                                  "type": "number",
                                  "description": "The page number of the current query",
                                  "example": 1
                                },
                                "limit": {
                                  "type": "number",
                                  "description": "The number of records returned for this query",
                                  "example": 12
                                }
                              },
                              "required": ["total", "page", "limit"]
                            }
                          },
                          "required": ["data", "meta"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/avs": {
      "get": {
        "operationId": "getAllAvs",
        "summary": "Retrieve all AVS",
        "description": "Returns all AVS records. This endpoint supports pagination.",
        "tags": ["AVS"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "withTvl": {
                    "type": "string",
                    "enum": ["true", "false"],
                    "default": "false",
                    "description": "Toggle whether the route should calculate the TVL from shares",
                    "example": "false"
                  },
                  "sortByTotalOperators": {
                    "type": "string",
                    "enum": ["asc", "desc"],
                    "description": "Sort results in asc or desc order of total AVS (only valid for AVS queries)",
                    "example": "desc"
                  },
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of AVS records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The status of the request",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "description": "AVS service manager contract address",
                                    "example": "0x35f4f28a8d3ff20eed10e087e8f96ea2641e6aa1"
                                  },
                                  "metadataName": {
                                    "type": "string",
                                    "description": "The name of the AVS",
                                    "example": "Example AVS"
                                  },
                                  "metadataDescription": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "The description of the AVS",
                                    "example": "This is an example AVS"
                                  },
                                  "metadataDiscord": {
                                    "type": "string",
                                    "nullable": true,
                                    "format": "uri",
                                    "description": "The URL of the AVS's Discord server",
                                    "example": "https://discord.com/invite/abcdefghij"
                                  },
                                  "metadataLogo": {
                                    "type": "string",
                                    "nullable": true,
                                    "format": "uri",
                                    "description": "The URL of the AVS's logo",
                                    "example": "https://example.com/logo.png"
                                  },
                                  "metadataTelegram": {
                                    "type": "string",
                                    "nullable": true,
                                    "format": "uri",
                                    "description": "The URL of the AVS's Telegram channel",
                                    "example": "https://t.me/acme"
                                  },
                                  "metadataWebsite": {
                                    "type": "string",
                                    "nullable": true,
                                    "format": "uri",
                                    "description": "The URL of the AVS's website",
                                    "example": "https://acme.com"
                                  },
                                  "metadataX": {
                                    "type": "string",
                                    "nullable": true,
                                    "format": "uri",
                                    "description": "The URL of the AVS's X",
                                    "example": "https://twitter.com/acme"
                                  },
                                  "metadataURI": {
                                    "type": "string",
                                    "description": "The URI of the AVS metadata",
                                    "example": "https://example.com/metadata.json"
                                  },
                                  "isMetadataSynced": {
                                    "type": "boolean",
                                    "description": "Whether the metadata is synced",
                                    "example": true
                                  },
                                  "totalStakers": {
                                    "type": "number",
                                    "description": "The total number of stakers staking in the AVS",
                                    "example": 10
                                  },
                                  "totalOperators": {
                                    "type": "number",
                                    "description": "The total number of operators operating the AVS",
                                    "example": 10
                                  },
                                  "createdAtBlock": {
                                    "type": "number",
                                    "description": "The block number at which the AVS was created",
                                    "example": 19631203
                                  },
                                  "updatedAtBlock": {
                                    "type": "number",
                                    "description": "The block number at which the AVS was last updated",
                                    "example": 19631203
                                  },
                                  "createdAt": {
                                    "type": "number",
                                    "description": "The time stamp at which the AVS was created",
                                    "example": 176834837
                                  },
                                  "updatedAt": {
                                    "type": "number",
                                    "description": "The time stamp at which the AVS was last updated",
                                    "example": 176834837
                                  },
                                  "shares": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "strategyAddress": {
                                          "type": "string",
                                          "pattern": "^0x[a-fA-F0-9]{40}$",
                                          "description": "The contract address of the restaking strategy",
                                          "example": "0xbeac0eeeeeeeeeeeeeeeeeeeeeeeeeeeeeebeac0"
                                        },
                                        "shares": {
                                          "type": "string",
                                          "description": "The amount of shares held in the strategy",
                                          "example": "1277920000000000000000000"
                                        }
                                      },
                                      "required": ["strategyAddress", "shares"]
                                    },
                                    "description": "The strategy shares held in the AVS",
                                    "example": [
                                      {
                                        "strategyAddress": "0x93c4b944d05dfe6df7645a86cd2206016c51564d",
                                        "shares": "135064894598947935263152"
                                      },
                                      {
                                        "strategyAddress": "0x54945180db7943c0ed0fee7edab2bd24620256bc",
                                        "shares": "9323641881708650182301"
                                      }
                                    ]
                                  },
                                  "tvl": {
                                    "type": "object",
                                    "properties": {
                                      "tvlBeaconChain": {
                                        "type": "number",
                                        "description": "The TVL of Beacon Chain restaking strategy in ETH",
                                        "example": 1000000
                                      },
                                      "tvlWETH": {
                                        "type": "number",
                                        "description": "The TVL of WETH restaking strategy in ETH",
                                        "example": 1000000
                                      },
                                      "tvlStrategies": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "number",
                                          "description": "The total value locked (TVL) in the strategy, denominated in the strategy's native token",
                                          "example": 1000000
                                        },
                                        "description": "The TVL of each individual restaking strategy in its native token",
                                        "example": {
                                          "Eigen": 1000000,
                                          "cbETH": 2000000
                                        }
                                      }
                                    },
                                    "required": [
                                      "tvlBeaconChain",
                                      "tvlWETH",
                                      "tvlStrategies"
                                    ],
                                    "description": "The total value locked (TVL) in the AVS",
                                    "example": {
                                      "tvlBeaconChain": 1000000,
                                      "tvlWETH": 1000000,
                                      "tvlStrategies": {
                                        "Eigen": 1000000,
                                        "cbETH": 2000000
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "address",
                                  "metadataName",
                                  "metadataDescription",
                                  "metadataLogo",
                                  "metadataDiscord",
                                  "metadataX",
                                  "metadataWebsite",
                                  "metadataTelegram",
                                  "metadataURI",
                                  "isMetadataSynced",
                                  "totalStakers",
                                  "totalOperators",
                                  "createdAtBlock",
                                  "updatedAtBlock",
                                  "createdAt",
                                  "updatedAt",
                                  "shares"
                                ]
                              }
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records in the database",
                                  "example": 30
                                },
                                "page": {
                                  "type": "number",
                                  "description": "The page number of the current query",
                                  "example": 1
                                },
                                "limit": {
                                  "type": "number",
                                  "description": "The number of records returned for this query",
                                  "example": 12
                                }
                              },
                              "required": ["total", "page", "limit"]
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/all-avs-addresses": {
      "get": {
        "operationId": "getAllAvsAddresses",
        "summary": "Retrieve all AVS addresses",
        "description": "Returns a list of all AVS addresses. This page supports pagination.",
        "tags": ["AVS"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "number",
                    "description": "The page number to retrieve",
                    "example": 1,
                    "default": 1
                  },
                  "limit": {
                    "type": "number",
                    "description": "The number of records per page",
                    "example": 12,
                    "default": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of AVS addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the AVS",
                                    "example": "EigenDA"
                                  },
                                  "logo": {
                                    "type": "string",
                                    "description": "The logo of the AVS",
                                    "example": "https://example.com/logo.png"
                                  },
                                  "metadataURI": {
                                    "type": "string",
                                    "description": "The metadata URI of the AVS",
                                    "example": "https://example.com/metadata.json"
                                  },
                                  "address": {
                                    "type": "string",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "description": "AVS service manager contract address",
                                    "example": "0x35f4f28a8d3ff20eed10e087e8f96ea2641e6aa1"
                                  }
                                },
                                "required": [
                                  "metadataURI",
                                  "address",
                                  "name",
                                  "logo"
                                ]
                              }
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records in the database",
                                  "example": 30
                                },
                                "page": {
                                  "type": "number",
                                  "description": "The page number of the current query",
                                  "example": 1
                                },
                                "limit": {
                                  "type": "number",
                                  "description": "The number of records returned for this query",
                                  "example": 12
                                }
                              },
                              "required": ["total", "page", "limit"]
                            }
                          },
                          "required": ["data", "meta"]
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/avs-by-address": {
      "get": {
        "operationId": "getAvsByAddress",
        "summary": "Retrieve an AVS by address",
        "description": "Returns a single AVS record by address.",
        "tags": ["AVS"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "AVS service manager contract address",
                    "example": "0x35f4f28a8d3ff20eed10e087e8f96ea2641e6aa1"
                  },
                  "withTvl": {
                    "type": "string",
                    "enum": ["true", "false"],
                    "default": "false",
                    "description": "Toggle whether the route should calculate the TVL from shares",
                    "example": "false"
                  }
                },
                "required": ["address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The AVS record found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "description": "The HTTP status code",
                          "example": 200
                        },
                        "body": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "pattern": "^0x[a-fA-F0-9]{40}$",
                              "description": "AVS service manager contract address",
                              "example": "0x35f4f28a8d3ff20eed10e087e8f96ea2641e6aa1"
                            },
                            "metadataName": {
                              "type": "string",
                              "description": "The name of the AVS",
                              "example": "Example AVS"
                            },
                            "metadataDescription": {
                              "type": "string",
                              "nullable": true,
                              "description": "The description of the AVS",
                              "example": "This is an example AVS"
                            },
                            "metadataDiscord": {
                              "type": "string",
                              "nullable": true,
                              "format": "uri",
                              "description": "The URL of the AVS's Discord server",
                              "example": "https://discord.com/invite/abcdefghij"
                            },
                            "metadataLogo": {
                              "type": "string",
                              "nullable": true,
                              "format": "uri",
                              "description": "The URL of the AVS's logo",
                              "example": "https://example.com/logo.png"
                            },
                            "metadataTelegram": {
                              "type": "string",
                              "nullable": true,
                              "format": "uri",
                              "description": "The URL of the AVS's Telegram channel",
                              "example": "https://t.me/acme"
                            },
                            "metadataWebsite": {
                              "type": "string",
                              "nullable": true,
                              "format": "uri",
                              "description": "The URL of the AVS's website",
                              "example": "https://acme.com"
                            },
[...]
